   <header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>pi</b>M</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>pi</b>MAT</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/static/images/{{ current_user.username }}.png" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ current_user.username }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/static/images/{{ current_user.username }}.png" class="img-circle" alt="User Image">
                <p>
                  {{ current_user.first_name }} {{ current_user.last_name }}
                  <small>{{ current_user.username }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    {% if current_user.role == 'admin'%}
                      <a href="/settings">Settings</a>
                    {% endif %}
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="/profile">Profile</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    {% if current_user.role == 'admin'%}
                      <a href="/users">Users</a>
                    {% endif %}
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="/password_change" class="btn btn-default btn-flat">Change Password</a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>