    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN MENU</li>
        <li><a href="/"><i class="fa fa fa-cogs"></i> <span>Dashboard</span></a></li>
        <li><a href="/sensors"><i class="fa fa-line-chart"></i> <span>Sensors</span></a></li>
        <li><a href="/camera"><i class="fa fa-cc"></i> <span>Cameras</span></a></li>
        <li class="active"><a href="/monitoring"><i class="fa fa-tachometer"></i> <span>Monitoring</span></a></li>
        <li><a href="/logs"><i class="fa fa-file-text-o"></i> <span>Logs</span></a></li>
        <li><a href="https://wiki.ocloud.cz/doku.php" target="_blank"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
